:root {
    --secundary-background-color: rgb(200, 200, 200);
    --primary-background-color: white;
    --color: #bb9469;
    --primary-color-hover: #9a7956;
    --principal-text-color: black;
    --secundary-text-color: white;
    --font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding-top: 80px;
    background-color: var(--secundary-background-color);
    font-family: var(--font-family);
    color: var(--principal-text-color);
}

#BarraSuperior ul {
    display: flex;
    list-style: none;
    gap: 15px;
    width: 100%;
}

#BarraSuperior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 20px;
    width: 100%;

    background-color: var(--color);
    color: var(--secundary-text-color);
}

@media (max-width: 768px) {
    .menu-item {
        min-width: unset;
    }
}

@media (max-width: 768px) {

    #BarraSuperior ul {
        height: auto;
    }

}

@media (max-width: 768px) {

    #BarraSuperior ul {
        flex-direction: column; /* vira vertical */
        align-items: center; /* centraliza */
        gap: 10px;
        height: auto; /* deixa crescer */
        padding: 10px;
    }

    #BarraSuperior {
        flex-direction: column; /* empilha */
        height: auto;
        padding: 10px;
        gap: 10px;
    }

}

@media (max-width: 768px) {

    #BarraSuperior {
        position: static; /* ESSENCIAL */
    }

}

li div {
    display: flex;
    align-items: center;
    gap: 15px;
}

img {
    width: 37px;
}

#titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#titulo h1 {
    white-space: nowrap;
    margin: 0;
}

#BarraPrincipal h1 {
    white-space: nowrap;
    margin: 0;
}

.menu-item { 
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: max-content;
}

.menu-direita { 
    margin-left: 0;
    justify-content: center;
}

.menu-item:hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
    border-radius: 10px;
}

#BarraPrincipal {
    padding: 40px 40px;
}

#códigoDoproduto {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 5px;
    width: 650px;
    height: 35px;
    font-family: var(--font-family);
}

#QTDDoproduto {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 5px;
    width: 45px;
    height: 35px;
    font-family: var(--font-family);
}

#BNTadcionar {
    border-radius: 5px;
    height: 35px;
    width: 70px;
    font-family: var(--font-family);
    background-color: var(--color);
    border-color: var(--color);
    color: var(--secundary-text-color);
    cursor: pointer;
    border-radius: 10px;
}

#BarraPrincipal ul{   
    padding: 10px;
    width: 770px;
    height: 45px;
}

#asDuasBarras {
    display: flex;
    align-items: flex-start;
    gap: 65px;
}

@media (max-width: 768px) {

    #asDuasBarras {
        flex-direction: column; /* ESSENCIAL */
        gap: 20px;
    }

}

.Direita {
    margin-left: auto;
}

.area-produtos{
    display: flex;
    flex-direction: column;
    width: 770px;
}

#Table1 {
    border-collapse: collapse;
    height: 0px;
    width: 750px;   
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    font-size: 14px;
}

#Table1 thead {
    background-color: var(--color);
    color: var(--secundary-text-color);
}

#Table1 th,
#Table1 td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

#Table1 th {
    text-align: left;
}

#Table1 tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

#Table1 tbody tr:hover {
    background-color: #eeeeee;
}

.scroll-tabela { 
    max-height: 450px;
    overflow-y: auto;
    width: 770px;
}

.BMTApagar {
    background: none;
    border: none;
}

.BMTApagar:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

#Table2 {
    padding: 15px;
    border-collapse: collapse;
    width: 100%;   
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    font-size: 14px;
}

#Table2 thead {
    background-color: var(--color);
    color: var(--secundary-text-color);
}

#Table2 thead {
    display: table-header-group;
    width: 100%;
}

#Table2 thead tr {
    width: 100%;
}

#Table2 th,
#Table2 td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

#Table2 th {
    text-align: left;
}

#Table2 tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

#Table2 tbody tr:hover {
    background-color: #eeeeee;
}

#INPPagar {
    border-radius: 5px;
    padding: 5px 5px;
    width: 600px;
    height: 35px;
    font-family: var(--font-family);
}

#BNTdesconto{
    border-radius: 5px;
    height: 35px;
    width: 600px;
    font-family: var(--font-family);
    background-color: var(--color);
    border-color: var(--color);
    color: var(--secundary-text-color);
    margin-top: 12px;
    cursor: pointer;
    border-radius: 10px;
}

#BTNcompletarCompra {
    border-radius: 5px;
    height: 35px;
    width: 295px;
    font-family: var(--font-family);
    background-color: var(--color);
    border-color: var(--color);
    color: var(--secundary-text-color);
    margin-top: 12px;
    cursor: pointer;
    border-radius: 10px;
}

#BNTRemover {
    border-radius: 5px;
    height: 35px;
    width: 295px;
    font-family: var(--font-family);
    background-color: red;
    border-color: red;
    color: var(--secundary-text-color);
    margin-top: 12px;
    cursor: pointer;
    border-radius: 10px;
}

#BarraInferior ul {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
    gap: 520px;
    list-style: none;
    background-color: var(--color);
    height: 70px;
    padding: 15px 0px;
    color: var(--secundary-text-color);
}

#BarraInferior img {
    width: 40px;
}

.overlay {
    display: none;

    position: fixed; 
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 9999;

    justify-content: center;
    
    align-items: flex-start; /* 🔥 muda isso */
    padding: 20px 10px;

    overflow: auto; /* 🔥 MUITO IMPORTANTE */
}

.overlay.ativo {
    display: flex;
}

.comprovante,
.ChecarPreco,
.Terminar-Venda {
    display: none;
}

.comprovante.ativo,
.ChecarPreco.ativo,
.Terminar-Venda.ativo {
    display: block;
}

.comprovante {
    background-color: #bb9469;
    border-radius: 10px;

    width: 90vw;
    max-width: 700px;

    max-height: 90vh;
    overflow: auto;

    padding: 25px;
}

.comprovante hr {
    border: 0;
    border-top: 2px solid #000000; 
    width: 100%;                
    margin: 20px auto;         
}

.comprovante ol {
    list-style: none;
}

#TableComprovante {
    border-collapse: collapse;
    width: 87%;   
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    font-size: 14px;
}

#TableComprovante thead {
    background-color: #9a7956;
    color: white;
}

#TableComprovante th,
#TableComprovante td {
    padding: 12px 15px;
    border-bottom: 1px solid #bb9469;
}

#TableComprovante th {
    text-align: left;
}

.scroll-tabela { 
    max-height: 450px;
    overflow-y: auto;
    width: 100%;
}

#tabelaComprovante2 {
    padding: 15px 15px;
    border-collapse: collapse;
    width: 100%;   
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    font-size: 14px;
}

#tabelaComprovante2 thead {
    background-color: #9a7956;
    color: var(--secundary-text-color);
}

#tabelaComprovante2 thead {
    display: table-header-group;
    width: 100%;
}

#tabelaComprovante2 thead tr {
    width: 100%;
}

#tabelaComprovante2 th,
#tabelaComprovante2 td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

#tabelaComprovante2 th {
    text-align: left;
}

.comprovante button{
    background-color: #9a7956;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    gap: 20px;
    font-family: var(--font-family);
    color: var(--secundary-text-color);
    margin-top: 10px;
}

.comprovante button:hover {
    background-color: #bb9469;
    cursor: pointer;
}

.ChecarPreco {
    background-color: #bb9469;
    border-radius: 10px;

    width: 90vw;
    max-width: 700px;

    max-height: 90vh;
    overflow: auto;

    padding: 25px;
}

.ChecarPreco ol {
    list-style: none;
}

.ChecarPreco input {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 5px;
    width: 100%;
    height: 35px;
    font-family: var(--font-family);
}

.ChecarPreco button {
    border-radius: 5px;
    height: 35px;
    width: 95PX;
    font-family: var(--font-family);
    background-color: #9a7956;
    border-color: var(--color);
    color: var(--secundary-text-color);
    margin-top: 12px;
    cursor: pointer;
    border-radius: 10px;
}

.Terminar-Venda {
    background-color: #bb9469;
    border-radius: 10px;

    width: 90vw;
    max-width: 700px;

    max-height: 90vh;
    overflow: auto;

    padding: 25px;
}

.Terminar-Venda span {
    justify-content: center; 
    align-items: center;
    display: flex;
}

.Terminar-Venda ol {
    list-style: none;
}